In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom
ecom = pd.read_csv('ecommerce.txt')

In [3]:
#Check the head of the DataFrame.
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [6]:
#How many rows and columns are there? 
len(ecom.columns)

14

In [7]:
len(ecom.index)

10000

In [11]:
#How many people have English 'en' as their Language of choice on the website? 
ecom["Language"].value_counts()["en"]

1098

In [16]:
#How many people have English 'en' as their Language of choice on the website? 
ecom[ecom['Language']=="en"]["Language"].count()

1098

In [17]:
#How many people have English 'en' as their Language of choice on the website? 
ecom["Language"].value_counts().loc["en"]

1098

In [24]:
##How many people have the job title of "Lawyer" ? 
ecom[ecom["Job"]=="Lawyer"]["Job"].count()

30

In [26]:
##How many people have the job title of "Lawyer" ? 
len(ecom[ecom["Job"]=="Lawyer"].index)

Int64Index([ 470,  508, 1275, 1569, 1682, 2164, 2619, 2935, 3663, 3738, 3966,
            5053, 5339, 5452, 5562, 5974, 6131, 6136, 6220, 7368, 7645, 8127,
            8220, 8620, 8683, 8801, 8860, 9175, 9659, 9979],
           dtype='int64')

In [31]:
#How many people made the purchase during the AM and how many people made the purchase during PM ? 
#ecom["AM or PM"].unique()
ecom["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [33]:
#What are the 5 most common Job Titles? 
ecom["Job"].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

In [34]:
#What are the 5 most common Job Titles? 
ecom.groupby('Job').count().sort_values(by='Company', ascending=False)['Address'].head(5)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Address, dtype: int64

In [37]:
#Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? 
ecom[ecom["Lot"]=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

In [39]:
#What is the email of the person with the following Credit Card Number: 4926535242672853 
ecom[ecom["Credit Card"]==4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [50]:
#How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
ecom[(ecom["CC Provider"]=="American Express") & (ecom["Purchase Price"]>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [51]:
#How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
len(ecom[(ecom["CC Provider"]=="American Express") & (ecom["Purchase Price"]>95)].index)

39

In [70]:
ecom["CC Exp Date"].loc[0][3:]

'20'

In [74]:
ecom["CC Exp Date"].loc[0].split('/')[1]

'20'

In [69]:
#How many people have a credit card that expires in 2025? 
len(ecom[ecom["CC Exp Date"].apply(lambda exp: exp[3:]=="25")].index)

1033

In [75]:
#How many people have a credit card that expires in 2025? 
ecom['ExpiryYear'] = ecom['CC Exp Date'].apply(lambda x: x.split('/')[-1]) #last element after / has year
ecom[ecom['ExpiryYear'] == '25'].count()['Lot']

1033

In [83]:
ecom["Email"].loc[0].split("@")[1]

'yahoo.com'

In [94]:
exemple = ecom["Email"].iloc[0]
exemple.split("@")[1]

'yahoo.com'

In [87]:
#What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) 
ecom["Email"].apply(lambda pop: pop.split("@")[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [ ]:
#What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) 
ecom['EmailHost'] = ecom['Email'].apply(lambda x: x.split('@')[-1])
ecom['EmailHost'].value_counts().sort_values(ascending=False).head(5)

In [5]:
#What is the average Purchase Price? 
ecom["Purchase Price"].mean()

50.34730200000025

In [8]:
#What were the highest and lowest purchase prices? 
ecom["Purchase Price"].max()

99.989999999999995

In [9]:
ecom["Purchase Price"].min()

0.0

In [89]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price', 'ExpiryYear'],
      dtype='object')

In [88]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
ExpiryYear          10000 non-null object
dtypes: float64(1), int64(2), object(12)
memory usage: 1.1+ MB