In [1]:
import pandas as pd

In [2]:
chemin_sas = r'\\peb4SasGers02\Production\SASProduction\CALLS\SASData\FichiersACHATS\AchatsCalls20210920.xlsx'

In [3]:
calls_achats_sas = pd.read_excel(chemin_sas, engine = 'openpyxl')

In [4]:
chemin_python = 'E:\data_python\calls_achats\calls\calls_achats_20210921.xlsx'

In [5]:
calls_achats_python = pd.read_excel(chemin_python, engine = 'openpyxl')

In [6]:
calls_achats_sas.shape

(11160, 12)

In [7]:
calls_achats_python.shape

(11297, 12)

In [8]:
len(calls_achats_python) - len(calls_achats_sas)

137

In [9]:
calls_achats_python.head()

,Marche,IdCodeEAN,NomPresentation,NomMarqueBCB,IdCodePointDeVente,RaisonSociale,CodePostal,Ville,Priorite,IdCodeUGA,Date,Unite
0,VIH,3400930153031,BIKTARVY 50/200/25MG CPR FL30,BIKTARVY,1331002,PHARMACIE MUTUALISTE DE BORDEAUX,33000,BORDEAUX,NaN,33BD2,2021-09-13,1
1,LLC,3400927949906,IMBRUVICA 140MG GELU FL120,IMBRUVICA,1342001,PHARMACIE CARMI SUD EST,34260,GRAISSESSAC,NaN,34BED,2021-09-14,1
2,VIH,3400930153031,BIKTARVY 50/200/25MG CPR FL30,BIKTARVY,1511001,PHARMACIE MUTUALISTE DE REIMS,51095,REIMS CEDEX,NaN,51REI,2021-09-14,1
3,HCV,3400930108765,MAVIRET 100MG/40MG CPR BT84,MAVIRET,1561001,PHARMACIE MUTUALISTE DE LORIENT,56100,LORIENT,NaN,56LOR,2021-09-16,1
4,VIH,3400927948954,TRIUMEQ 50/600/300MG CPR F30X1,TRIUMEQ,1561001,PHARMACIE MUTUALISTE DE LORIENT,56100,LORIENT,NaN,56LOR,2021-09-17,1

In [10]:
calls_achats_sas.head()

,Marche,IdCodeEAN,NomPresentation,NomMarqueBCB,IdCodePointDeVente,RaisonSociale,CodePostal,Ville,priorite,UGA,Date,UN
0,VIH,3400930153031,BIKTARVY 50/200/25MG CPR FL30,BIKTARVY,1331002,PHARMACIE MUTUALISTE DE BORDEAUX,33000,BORDEAUX,,33BD2,2021-09-13,1
1,LLC,3400927949906,IMBRUVICA 140MG GELU FL120,IMBRUVICA,1342001,PHARMACIE CARMI SUD EST,34260,GRAISSESSAC,,34BED,2021-09-14,1
2,VIH,3400930153031,BIKTARVY 50/200/25MG CPR FL30,BIKTARVY,1511001,PHARMACIE MUTUALISTE DE REIMS,51095,REIMS CEDEX,,51REI,2021-09-14,1
3,HCV,3400930108765,MAVIRET 100MG/40MG CPR BT84,MAVIRET,1561001,PHARMACIE MUTUALISTE DE LORIENT,56100,LORIENT,,56LOR,2021-09-16,1
4,VIH,3400927948954,TRIUMEQ 50/600/300MG CPR F30X1,TRIUMEQ,1561001,PHARMACIE MUTUALISTE DE LORIENT,56100,LORIENT,,56LOR,2021-09-17,1

In [15]:
df_sas = calls_achats_sas.groupby('Marche').agg(IdCodeEAN_sas_count=pd.NamedAgg(column='IdCodeEAN', aggfunc='count'),
                                       IdCodePointDeVente_sas_count=pd.NamedAgg(column='IdCodePointDeVente', aggfunc='count'),
                                                      UGA_sas_count=pd.NamedAgg(column='UGA', aggfunc='min'),
                                                         UN_sas_sum=pd.NamedAgg(column='UN', aggfunc='sum'),
                                                       UN_sas_count=pd.NamedAgg(column='UN', aggfunc='count')
                                               )

In [16]:
df_python = calls_achats_python.groupby('Marche').agg(IdCodeEAN_python_count=pd.NamedAgg(column='IdCodeEAN', aggfunc='count'),
                                             IdCodePointDeVente_python_count=pd.NamedAgg(column='IdCodePointDeVente', aggfunc='count'),
                                                            UGA_python_count=pd.NamedAgg(column='IdCodeUGA', aggfunc='min'),
                                                               UN_python_sum=pd.NamedAgg(column='Unite', aggfunc='sum'),
                                                             UN_python_count=pd.NamedAgg(column='Unite', aggfunc='count')
                                                     )

In [17]:
calls_achats_compare = pd.concat([df_sas, df_python], axis = 1)

In [18]:
calls_achats_compare

,IdCodeEAN_sas_count,IdCodePointDeVente_sas_count,UGA_sas_count,UN_sas_sum,UN_sas_count,IdCodeEAN_python_count,IdCodePointDeVente_python_count,UGA_python_count,UN_python_sum,UN_python_count
Marche,,,,,,,,,,
CALL_BIOTHERAPIE,1304,1304,01BEL,1406,1304,1304,1304,01BEL,1405,1304
CANCER_PROSTATE,334,334,01BEL,346,334,335,335,01BEL,347,335
CLOVIS_ONCO,309,309,01BEL,339,309,309,309,01BEL,339,309
GIOTRIF,489,489,01BEL,514,489,484,484,01BEL,508,484
HCV,98,98,01BEL,100,98,98,98,01BEL,100,98
IDACIO,257,257,01BEL,326,257,257,257,01BEL,326,257
KESIMPTA,3,3,26DIE,7,3,3,3,26DIE,7,3
LLC,894,894,01BOU,1097,894,896,896,01BOU,1099,896
OFEV,471,471,01BOU,489,471,447,447,01BOU,465,447
PREVYMIS,39,39,02SQU,43,39,39,39,02SQU,43,39
SEP,8,8,34MON,8,8,8,8,34MON,8,8
VIH,6954,6954,01BEL,8596,6954,7117,7117,01BEL,8790,7117

In [21]:
calls_achats_sas.groupby('priorite').agg({'IdCodePointDeVente' : 'count'})

          IdCodePointDeVente
priorite
                       10310
P                        703
UP                       147

In [22]:
calls_achats_python.groupby('Priorite').agg({'IdCodePointDeVente' : 'count'})

          IdCodePointDeVente
Priorite
P                        744
UP                       147

### Comptage du nombre de points de ventes distinct sur les priorités P et UP

In [27]:
filtre_priorite_sas = calls_achats_sas.priorite.isin(['P', 'UP'])

In [28]:
filtre_priorite_python = calls_achats_python.Priorite.isin(['P', 'UP'])

In [29]:
liste_point_de_ventes_sas = set(calls_achats_sas[filtre_priorite_sas].IdCodePointDeVente)
liste_point_de_ventes_python = set(calls_achats_python[filtre_priorite_python].IdCodePointDeVente)

In [30]:
print("Le nombre de point de vente SAS    : ", len(liste_point_de_ventes_sas))
print("Le nombre de point de vente Python : ", len(liste_point_de_ventes_python))

Le nombre de point de vente SAS    :  450
Le nombre de point de vente Python :  450

### Combien de point de ventes a-t-on en commun ?

In [31]:
len(liste_point_de_ventes_sas.intersection(liste_point_de_ventes_python))

190

# Verifier que les priorités P ne sont pas dans les refus des 3 dernières semaines

### Connexion SQLServer

In [32]:
import sqlalchemy as db
import urllib
import datetime

### Paramètres du serveur SQL

In [33]:
server='PEB4GERSSQL07'
port=1433
database='STAT' 
username='LoginStat' 
password='LoginStat1'

### Définition de la connexion

In [34]:
params = urllib.parse.quote_plus(r'DRIVER={ODBC Driver 13 for SQL Server};' +
                                  ('SERVER={server},{port};' +
                                   'DATABASE={database};' +
                                   'UID={username};' +
                                   'PWD={password};'
                                   'MARS_Connection=Yes').format(server=server,
                                                                 port=port,
                                                                 database=database,
                                                                 username=username,
                                                                 password=password))

In [35]:
engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [36]:
connexion = engine.connect()

### SQL query

In [37]:
date_de_lancement = datetime.date.today()
trois_semaines = datetime.timedelta(weeks=3)

In [38]:
date_de_lancement_moins_3_semaines = date_de_lancement - trois_semaines
print(date_de_lancement)
print(date_de_lancement_moins_3_semaines)

2021-09-21
2021-08-31

In [39]:
query = f"""
        SELECT DISTINCT 
               [IdCodePointDeVente]
              ,[DateIntegration]
          FROM [dbo].[CallsRefus]
         WHERE [DateIntegration] BETWEEN '{date_de_lancement_moins_3_semaines}' AND '{date_de_lancement}'
      ORDER BY [DateIntegration]
  ;
        """

In [40]:
 print(query)

        SELECT DISTINCT
               [IdCodePointDeVente]
              ,[DateIntegration]
          FROM [dbo].[CallsRefus]
         WHERE [DateIntegration] BETWEEN '2021-08-31' AND '2021-09-21'
      ORDER BY [DateIntegration]
  ;

In [41]:
refus = pd.read_sql(query, engine)

In [43]:
refus.tail()

    IdCodePointDeVente DateIntegration
808            2208569      2021-09-15
809            2213186      2021-09-15
810            2233438      2021-09-15
811            2270045      2021-09-15
812            2273376      2021-09-15

In [44]:
liste_point_de_ventes_refus = set(refus["IdCodePointDeVente"])

In [45]:
# On ne doit pas avoir de point de vente parmis les refus : len ==> 0
len(liste_point_de_ventes_python.intersection(liste_point_de_ventes_refus))

0